{
  "openapi": "3.1.0",
  "info": {
    "title": "Capriole AI API",
    "description": "Public API for model discovery and text chat.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.caprioletech.com"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List public models",
        "description": "Returns the current public model catalog.",
        "responses": {
          "200": {
            "description": "Public model list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPublicModelsResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "data": [
                        {
                          "id": "openai/gpt-5.4"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/v1/chat": {
      "post": {
        "operationId": "createChat",
        "summary": "Create chat response",
        "description": "Creates a text response from a model.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              },
              "examples": {
                "text": {
                  "value": {
                    "model": "openai/gpt-5.4",
                    "input": "Hello World!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
            "application/json": {
              "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
              },
              "examples": {
                "default": {
                  "value": {
                      "id": "49da8eb7-916b-43a3-ab02-442bc2841839",
                      "model": "openai/gpt-5.4",
                      "result": {
                        "text": "Here is a short joke."
                      },
                      "usage": {
                        "input_tokens": 11,
                        "output_tokens": 6,
                        "total_tokens": 17
                      }
                  }
                }
              }
            }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationOrDetailErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/DetailErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/DetailErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          },
          "502": {
            "$ref": "#/components/responses/DetailErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "DetailErrorResponse": {
        "description": "Error response with a detail message",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DetailError"
            },
            "examples": {
              "missingBearerToken": {
                "value": {
                  "detail": "Missing Bearer token"
                }
              },
              "invalidApiKey": {
                "value": {
                  "detail": "Invalid API key"
                }
              },
              "usageMetadataUnavailable": {
                "value": {
                  "detail": "Missing usage metadata"
                }
              }
            }
          }
        }
      },
      "ValidationOrDetailErrorResponse": {
        "description": "Validation error or request-level error response",
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ValidationError"
                },
                {
                  "$ref": "#/components/schemas/DetailError"
                }
              ]
            },
            "examples": {
              "invalidPayload": {
                "value": {
                  "detail": "Invalid input parameters received.",
                  "errors": [
                    "Field 'body -> input': String should have at least 1 character"
                  ]
                }
              }
            }
          }
        }
      },
      "RateLimitErrorResponse": {
        "description": "Rate limit error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DetailError"
            },
            "examples": {
              "rateLimitExceeded": {
                "value": {
                  "detail": "Rate limit exceeded: 100 per 1 minute"
                }
              }
            }
          }
        }
      },
      "InternalServerErrorResponse": {
        "description": "Internal server error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DetailError"
            },
            "examples": {
              "internalServerError": {
                "value": {
                  "detail": "An internal server error occurred. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "PublicModelItem": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Model identifier"
          }
        }
      },
      "ListPublicModelsResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicModelItem"
            }
          }
        }
      },
      "ChatRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["model", "input"],
        "properties": {
          "model": {
            "type": "string",
            "description": "Public model identifier returned by GET /v1/models",
            "enum": [
              "openai/gpt-5.4",
              "openai/gpt-5.4-mini",
              "google/gemini-3.1-pro-preview",
              "google/gemini-3.1-flash-lite-preview",
              "anthropic/claude-opus-4-7-thinking",
              "anthropic/claude-opus-4-7"
            ]
          },
          "input": {
            "type": "string",
            "description": "Plain text user input"
          },
          "web_search": {
            "type": "boolean",
            "default": true,
            "description": "Enable provider-native web search when the selected model supports it."
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "description": "Optional sampling temperature."
          },
          "max_output_tokens": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Optional maximum number of output tokens."
          },
          "max_retries": {
            "type": "integer",
            "minimum": 0,
            "description": "Optional maximum number of provider retries."
          },
          "timeout": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Optional provider request timeout in seconds."
          }
        }
      },
      "ChatResult": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {
            "type": "string",
            "description": "Plain text assistant result"
          }
        }
      },
      "ChatUsage": {
        "type": "object",
        "required": ["input_tokens", "output_tokens", "total_tokens"],
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "required": ["id", "model", "result", "usage"],
        "properties": {
          "id": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/ChatResult"
          },
          "usage": {
            "$ref": "#/components/schemas/ChatUsage"
          }
        }
      },
      "DetailError": {
        "type": "object",
        "required": ["detail"],
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error detail from the API"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "required": ["detail", "errors"],
        "properties": {
          "detail": {
            "type": "string",
            "description": "Validation summary"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Per-field validation errors"
          }
        }
      },
      "RateLimitError": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Rate limit error detail"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use an API key created in the Capriole AI page. Send it as `Authorization: Bearer sk-...`."
      }
    }
  }
}
