{
  "openapi": "3.1.0",
  "info": {
    "title": "Capriole AI API",
    "description": "Public API for model discovery, text chat, and protocol-compatible model endpoints.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.caprioletech.com"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List public models",
        "description": "Returns the current public model catalog.",
        "responses": {
          "200": {
            "description": "Public model list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPublicModelsResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "data": [
                        {
                          "id": "openai-latest"
                        },
                        {
                          "id": "openai/gpt-5.5"
                        },
                        {
                          "id": "openai/gpt-5.4-mini"
                        },
                        {
                          "id": "claude-latest"
                        },
                        {
                          "id": "anthropic/claude-opus-4-8"
                        },
                        {
                          "id": "anthropic/claude-opus-4-7"
                        },
                        {
                          "id": "anthropic/claude-opus-4-6"
                        },
                        {
                          "id": "anthropic/claude-sonnet-4-6"
                        },
                        {
                          "id": "google-latest"
                        },
                        {
                          "id": "google/gemini-3.1-pro-preview"
                        },
                        {
                          "id": "google/gemini-3.5-flash"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/v1/chat": {
      "post": {
        "operationId": "createChat",
        "summary": "Create chat response",
        "description": "Creates a text response from a model.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              },
              "examples": {
                "text": {
                  "value": {
                    "model": "openai-latest",
                    "input": "Hello World!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
            "application/json": {
              "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
              },
              "examples": {
                "default": {
                  "value": {
                      "id": "49da8eb7-916b-43a3-ab02-442bc2841839",
                      "model": "openai/gpt-5.5",
                      "result": {
                        "text": "Here is a short joke."
                      },
                      "usage": {
                        "input_tokens": 8,
                        "output_tokens": 6,
                        "total_tokens": 14,
                        "cached_tokens": 0,
                        "charged_tokens": 14
                      }
                  }
                }
              }
            }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationOrDetailErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/DetailErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/DetailErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          },
          "502": {
            "$ref": "#/components/responses/DetailErrorResponse"
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "operationId": "createResponse",
        "summary": "Create response",
        "description": "Creates an OpenAI Responses-compatible response for models that use the Responses request and response format.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              },
              "examples": {
                "text": {
                  "value": {
                    "model": "openai-latest",
                    "input": "Hello World!"
                  }
                },
                "streaming": {
                  "value": {
                    "model": "openai/gpt-5.4-mini",
                    "input": "Write a short Python function.",
                    "stream": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAI Responses-compatible JSON response or SSE stream",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "OpenAI Responses-compatible SSE chunks."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationOrDetailErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/DetailErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/DetailErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          },
          "502": {
            "$ref": "#/components/responses/DetailErrorResponse"
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Create chat completion",
        "description": "Creates an OpenAI-compatible chat completion for clients that use the Chat Completions request and response format.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionsRequest"
              },
              "examples": {
                "text": {
                  "value": {
                    "model": "openai-latest",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Hello World!"
                      }
                    ]
                  }
                },
                "streaming": {
                  "value": {
                    "model": "openai-latest",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Write a short Python function."
                      }
                    ],
                    "stream": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAI-compatible Chat Completions response or SSE stream. Response model fields follow the selected compatible endpoint and may differ from the input alias.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionsResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "chatcmpl_123",
                      "object": "chat.completion",
                      "created": 1764547200,
                      "model": "gpt-5.5",
                      "choices": [
                        {
                          "index": 0,
                          "message": {
                            "role": "assistant",
                            "content": "Hello! How can I help?"
                          },
                          "finish_reason": "stop"
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 12,
                        "completion_tokens": 8,
                        "total_tokens": 20
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "OpenAI-compatible Chat Completions SSE chunks."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationOrDetailErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/DetailErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/DetailErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          },
          "502": {
            "$ref": "#/components/responses/DetailErrorResponse"
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "operationId": "createMessage",
        "summary": "Create message",
        "description": "Creates an Anthropic Messages-compatible response for Claude models.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagesRequest"
              },
              "examples": {
                "text": {
                  "value": {
                    "model": "claude-latest",
                    "max_tokens": 1024,
                    "messages": [
                      {
                        "role": "user",
                        "content": "Hello World!"
                      }
                    ]
                  }
                },
                "streaming": {
                  "value": {
                    "model": "claude-opus-4-7",
                    "max_tokens": 1024,
                    "messages": [
                      {
                        "role": "user",
                        "content": "Write a short Python function."
                      }
                    ],
                    "stream": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Anthropic Messages-compatible JSON response or SSE stream",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagesResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Anthropic Messages-compatible SSE chunks."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationOrDetailErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/DetailErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/DetailErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          },
          "502": {
            "$ref": "#/components/responses/DetailErrorResponse"
          }
        }
      }
    },
    "/v1/messages/count_tokens": {
      "post": {
        "operationId": "countMessageTokens",
        "summary": "Count message tokens",
        "description": "Counts Anthropic Messages-compatible input tokens for Claude models by proxying to the selected upstream. Token-count requests do not create usage rows. If the selected upstream does not support token counting, Capriole AI returns the upstream error instead.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagesCountTokensRequest"
              },
              "examples": {
                "text": {
                  "value": {
                    "model": "claude-latest",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Hello World!"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upstream Anthropic token count response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagesCountTokensResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "input_tokens": 12
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationOrDetailErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/DetailErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/DetailErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          },
          "502": {
            "$ref": "#/components/responses/DetailErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "DetailErrorResponse": {
        "description": "Error response with a detail message",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DetailError"
            },
            "examples": {
              "missingBearerToken": {
                "value": {
                  "detail": "Missing Bearer token"
                }
              },
              "invalidApiKey": {
                "value": {
                  "detail": "Invalid API key"
                }
              },
              "usageMetadataUnavailable": {
                "value": {
                  "detail": "Missing usage metadata"
                }
              }
            }
          }
        }
      },
      "ValidationOrDetailErrorResponse": {
        "description": "Validation error or request-level error response",
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ValidationError"
                },
                {
                  "$ref": "#/components/schemas/DetailError"
                }
              ]
            },
            "examples": {
              "invalidPayload": {
                "value": {
                  "detail": "Invalid input parameters received.",
                  "errors": [
                    "Field 'body -> input': String should have at least 1 character"
                  ]
                }
              }
            }
          }
        }
      },
      "RateLimitErrorResponse": {
        "description": "Rate limit error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DetailError"
            },
            "examples": {
              "rateLimitExceeded": {
                "value": {
                  "detail": "Rate limit exceeded: 100 per 1 minute"
                }
              }
            }
          }
        }
      },
      "InternalServerErrorResponse": {
        "description": "Internal server error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DetailError"
            },
            "examples": {
              "internalServerError": {
                "value": {
                  "detail": "An internal server error occurred. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "PublicModelItem": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Model identifier"
          }
        }
      },
      "ListPublicModelsResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicModelItem"
            }
          }
        }
      },
      "ChatRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["model", "input"],
        "properties": {
          "model": {
            "type": "string",
            "description": "Public model identifier or latest alias returned by GET /v1/models",
            "enum": [
              "openai-latest",
              "openai/gpt-5.5",
              "openai/gpt-5.4-mini",
              "claude-latest",
              "anthropic/claude-opus-4-8",
              "anthropic/claude-opus-4-7",
              "anthropic/claude-opus-4-6",
              "anthropic/claude-sonnet-4-6",
              "google-latest",
              "google/gemini-3.1-pro-preview",
              "google/gemini-3.5-flash"
            ]
          },
          "input": {
            "type": "string",
            "description": "Plain text user input"
          },
          "web_search": {
            "type": "boolean",
            "default": true,
            "description": "Enable provider-native web search when the selected model supports it."
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "description": "Optional sampling temperature."
          },
          "max_output_tokens": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Optional maximum number of output tokens."
          },
          "max_retries": {
            "type": "integer",
            "minimum": 0,
            "description": "Optional maximum number of provider retries."
          },
          "timeout": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Optional provider request timeout in seconds."
          }
        }
      },
      "ChatResult": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {
            "type": "string",
            "description": "Plain text assistant result"
          }
        }
      },
      "ChatUsage": {
        "type": "object",
        "required": ["input_tokens", "output_tokens", "total_tokens", "cached_tokens", "charged_tokens"],
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          },
          "cached_tokens": {
            "type": "integer",
            "description": "Provider-reported cached input tokens."
          },
          "charged_tokens": {
            "type": "integer",
            "description": "Quota tokens charged after cached input discount."
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "required": ["id", "model", "result", "usage"],
        "properties": {
          "id": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/ChatResult"
          },
          "usage": {
            "$ref": "#/components/schemas/ChatUsage"
          }
        }
      },
      "ResponsesRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["model", "input"],
        "properties": {
          "model": {
            "type": "string",
            "description": "Public OpenAI Responses model identifier or OpenAI latest alias",
            "enum": [
              "openai-latest",
              "openai/gpt-5.5",
              "openai/gpt-5.4-mini"
            ]
          },
          "input": {
            "description": "OpenAI Responses input string or item list.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          },
          "instructions": {
            "type": "string",
            "description": "Optional system-level instructions."
          },
          "tools": {
            "type": "array",
            "description": "OpenAI Responses-compatible tool definitions.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "reasoning": {
            "type": "object",
            "description": "OpenAI Responses-compatible reasoning options.",
            "additionalProperties": true
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "Stream the response as OpenAI Responses-compatible server-sent events."
          }
        }
      },
      "ResponsesResponse": {
        "type": "object",
        "description": "OpenAI Responses-compatible response body.",
        "additionalProperties": true
      },
      "ChatCompletionsMessage": {
        "type": "object",
        "additionalProperties": true,
        "required": ["role"],
        "properties": {
          "role": {
            "type": "string",
            "description": "Message role such as system, user, assistant, or tool."
          },
          "content": {
            "description": "OpenAI-compatible message content.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "ChatCompletionsRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "Public model identifier or latest alias returned by GET /v1/models",
            "enum": [
              "openai-latest",
              "openai/gpt-5.5",
              "openai/gpt-5.4-mini",
              "claude-latest",
              "anthropic/claude-opus-4-8",
              "anthropic/claude-opus-4-7",
              "anthropic/claude-opus-4-6",
              "anthropic/claude-sonnet-4-6",
              "google-latest",
              "google/gemini-3.1-pro-preview",
              "google/gemini-3.5-flash"
            ]
          },
          "messages": {
            "type": "array",
            "description": "OpenAI-compatible conversation messages.",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionsMessage"
            }
          },
          "tools": {
            "type": "array",
            "description": "OpenAI-compatible tool definitions.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "tool_choice": {
            "description": "OpenAI-compatible tool choice.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          },
          "response_format": {
            "type": "object",
            "description": "OpenAI-compatible response format.",
            "additionalProperties": true
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "Stream the response as OpenAI-compatible server-sent events."
          },
          "stream_options": {
            "type": "object",
            "description": "OpenAI-compatible stream options. For streaming requests, Capriole AI sets include_usage=true before upstream dispatch for usage accounting.",
            "additionalProperties": true
          }
        }
      },
      "ChatCompletionsResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": ["id", "object", "created", "model", "choices"],
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "usage": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "MessagesContentBlock": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "type": {
            "type": "string",
            "description": "Anthropic content block type."
          },
          "text": {
            "type": "string"
          }
        }
      },
      "MessagesMessage": {
        "type": "object",
        "additionalProperties": true,
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "description": "Message role such as user or assistant."
          },
          "content": {
            "description": "Anthropic-compatible message content.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessagesContentBlock"
                }
              }
            ]
          }
        }
      },
      "MessagesRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["model", "messages", "max_tokens"],
        "properties": {
          "model": {
            "type": "string",
            "description": "Public Anthropic Messages model identifier or Claude latest alias",
            "enum": [
              "claude-latest",
              "claude-opus-4-8",
              "claude-opus-4-7",
              "claude-opus-4-6",
              "claude-sonnet-4-6"
            ]
          },
          "messages": {
            "type": "array",
            "description": "Anthropic-compatible conversation messages.",
            "items": {
              "$ref": "#/components/schemas/MessagesMessage"
            }
          },
          "max_tokens": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Maximum number of output tokens."
          },
          "system": {
            "description": "Optional Anthropic-compatible system prompt.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessagesContentBlock"
                }
              }
            ]
          },
          "tools": {
            "type": "array",
            "description": "Anthropic-compatible tool definitions.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "thinking": {
            "type": "object",
            "description": "Anthropic-compatible thinking options.",
            "additionalProperties": true
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "Stream the response as Anthropic-compatible server-sent events."
          }
        }
      },
      "MessagesResponse": {
        "type": "object",
        "description": "Anthropic Messages-compatible response body.",
        "additionalProperties": true
      },
      "MessagesCountTokensRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "Public Anthropic Messages model identifier or Claude latest alias",
            "enum": [
              "claude-latest",
              "claude-opus-4-8",
              "claude-opus-4-7",
              "claude-opus-4-6",
              "claude-sonnet-4-6"
            ]
          },
          "messages": {
            "type": "array",
            "description": "Anthropic-compatible conversation messages.",
            "items": {
              "$ref": "#/components/schemas/MessagesMessage"
            }
          },
          "system": {
            "description": "Optional Anthropic-compatible system prompt.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessagesContentBlock"
                }
              }
            ]
          },
          "tools": {
            "type": "array",
            "description": "Anthropic-compatible tool definitions.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "MessagesCountTokensResponse": {
        "type": "object",
        "required": ["input_tokens"],
        "properties": {
          "input_tokens": {
            "type": "integer",
            "description": "Number of input tokens reported by the upstream token-count endpoint."
          }
        },
        "additionalProperties": true
      },
      "DetailError": {
        "type": "object",
        "required": ["detail"],
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error detail from the API"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "required": ["detail", "errors"],
        "properties": {
          "detail": {
            "type": "string",
            "description": "Validation summary"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Per-field validation errors"
          }
        }
      },
      "RateLimitError": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Rate limit error detail"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use an API key created in the Capriole AI page. Send it as `Authorization: Bearer sk-...`."
      }
    }
  }
}
